@model IEnumerable<WebApplication.Models.Auto>

@{
    ViewData["Title"] = "Автомобили";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Автомобили</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Модель
            </th>
            <th>
                Марка
            </th>
            <th>
                Год выпуска
            </th>
            <th>
                Тип кузова
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MarkNavigation.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyType)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", item)
                @Html.ActionLink("Удалить", "Delete", item)
                @Html.ActionLink("Подробнее", "Details", item)
            </td>
        </tr>
}
    <div class="auto-list">
        @Html.ActionLink("Список производителей", "ShowCorps")
        @Html.ActionLink("Добавить авто", "Create")
    </div>
    <div class="counter">
        <td>Количество авто: @Model.ToList().Count()</td>
        <td>
            Машин по странам: <br/>
            @foreach (var gr in Model.ToList().GroupBy(a => a.MarkNavigation.Location))
            {
                string res = gr.Key + " : " + gr.Count();
                @res
                <br/>
            }
        </td>
        <td>
            Среднее кол-во машин от производителя:<br/>
                @Math.Round(Model.ToList().GroupBy(a => a.MarkNavigation.Mark).Average(a => a.Count()), 2)
        </td>
    </div>
    </tbody>
</table>